@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import './base.css';
@import 'tailwindcss/utilities'; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  /* overscroll-behavior: contain; */
}
/* .slick-list {
  margin: 0 8px;
} */
.slick-slide > div {
  padding: 0 6px;
}
.mapboxgl-compact,
.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-attrib-inner {
  display: none !important;
}
