@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slick-slide > div {
  padding: 0 6px;
}
.slick-list {
  box-sizing: border-box;
}
.slide {
  background-position: center;
}
.mapboxgl-compact,
.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-attrib-inner {
  display: none !important;
}
.slick-slide > div {
  padding: 0 0 !important;
}

.scrollHidden::-webkit-scrollbar {
  display: hidden;
  height: 0px;
  background-color: white;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 20px;
  padding-bottom: 20px;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 20px;
}
.rdp {
  --rdp-cell-size: 36px !important;
  --rdp-caption-font-size: 16px !important;
  --rdp-accent-color: #3c76fe !important
;
}
.rdp-months {
  flex-direction: row;
  margin: 0;
  padding: 0;
  padding-bottom: 12px;
  gap: 24px;
  justify-content: center;
  min-height: 300px;
}
.rdp-month {
  margin: 0 !important;
  padding: 0;
}
.rdp-table {
  margin: 0 auto !important;
}
.rdp-day_today:not(.rdp-day_outside) {
  font-weight: 400 !important;
}
.swiper-pagination {
  bottom: 50px !important;
  font-size: medium !important;
}
.roomImages .swiper-pagination {
  bottom: 0 !important;
}
.roomImages .swiper-pagination-bullet {
  border: 2px solid #ffffff !important;
  background-color: #3c76fe;
  width: 10px;
  height: 10px;
}

@media (max-width: 1023px) {
  .rdp-months {
    flex-direction: column !important;
    margin: 0;
    padding: 0;
    gap: 24px;
  }
}
